PLANKA_URL=https://planka.aiesecmoscow.whaleharbor.net
PLANKA_USERNAME=your_email@example.com
PLANKA_PASSWORD=your_password
PLANKA_BOARD_URLS=https://planka.aiesecmoscow.whaleharbor.net/boards/1705889625190434326,https://planka.aiesecmoscow.whaleharbor.net/boards/1774198793248441951
BURNING_HOURS=48
FORGOTTEN_DAYS=7
